html{
    background-color: black;
}

header{
    color: rgb(217, 255, 0);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#info-personal, #habilidades, #contacto, #formulario{
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    margin: 10px;
    padding: 45px;
}

#info-personal h2, #habilidades h2, #contacto h2, #formulario h2{
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    border: 3px solid white;
    margin: 10px;
    padding: 10px;
  
}

form{
    text-align: left;
    margin: 10px;
    width: 200px;
}

label{
    font-weight: bolder;
}

input[type="text"]
input[type="email"]
textarea{ 
    width: 100%;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    border: 2px;
    border-radius: 6px;
}

input[type="submit"]{
    font-family:Arial, Helvetica, sans-serif;
    width: 100%;
    padding:2px;
    margin: 2px;
    cursor: pointer;
    background-color: rgb(255, 254, 175);
    border: 2px
}

input[type="submit"]:hover{
    background-color: rgb(251, 255, 0);
}


footer{
    color: white;
    text-align: center;
    padding: 10px;
    margin: 10px;
    position: absolute
    
}

#habilidades ul {
    list-style-type: square;
}
    

@media only screen and (max-width: 600px) {
    header, #info-personal, #habilidades, #contacto, #formulario{
    padding: 10px;
    }
    h1, h2 {
    font-size: 18px;
    }
    }

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    header, #info-personal, #habilidades, #contacto, #formulario{
    padding: 20px;
    }
    h1, h2 {
    font-size: 22px;
    }
    }

@media only screen and (min-width: 1025px) {
    header, #info-personal, #habilidades, #contacto, #formulario{
    padding: 30px;
    }
    h1, h2 {
    font-size: 28px;
    }
    }
    
   
    